{% load static%}
<footer class="footer">
    <div class="footer-wrapper">
        {#            <div class="time_block share dropdown message_block" class="" data-type="dropdown">#}
        {##}
        {#                    <div class="game_won_block">#}
        {#                        <div class="message-box message-top shadowed">#}
        {#                            <p>you won</p>#}
        {#                            <small class="rate">+40% to your balance</small>#}
        {#                        </div>#}
        {#                        <form name="MyForm">#}
        {#                            <input id="id_timer" name="stopwatch" value="00:00" class="time_game" disabled>#}
        {#                        </form>#}
        {#                    </div>#}
        {#                    <div class=" message_block hare">#}
        {#                        <div class="lose">You lose!</div>#}
        {#                        <button id="id_concide" onclick="concide()" class="concide concide_btn button-brd" disabled>concide</button>#}
        {#                    </div>#}
        {#                </div>#}
        <div  class="footer-timer">
            <div class="result-label win-label"><p>You Win!</p></div>
            <p id="id_timer">00:30</p></div>
        <div class="footer-button">
            <div class="result-label lose-label"><p>You LOSE!</p></div>
            <span id="id_concide" onclick="concide()" class="btn btn-orange">CONCIDE</span></div>
    </div>
</footer>


<div  class="modal " v-bind:class="{ modalActive:result_image_modal }">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="close"  v-on:click="result_image_modal = false"><img src="{% static 'images/close-btn.svg' %}" alt=""></div>

                <div class="modal-header">
                    <p>YOU LOSE</p>
                </div>
                <div class="modal-body">
                    <img :src=[[result_image]] alt="">


                </div>


        </div>
    </div>
</div>