{% load static %}
<header class="header">
    <div class="header-wrapper">
        <div class="header-mobile-left visible-768" v-on:click="open_mobile_menu">
            {% if not indexPage %}
                <img src="{% static 'images/header-mobile-left.svg' %}" alt="">
            {% endif %}
            <div class="mobile-user-panel panel-left" v-bind:class="{ secondaryPanelActive: mobile_menu == true }"><!--notlogged user -->

                <div class="mobile-user-panel-menu">
                    <ul>
                        <li class="header-user-menu-item"><span class="header-user-menu-link arrow-link" v-on:click="open_mobile_sub_menu('choose')">Game</span></li>
                        <li class="header-user-menu-item"><span class="header-user-menu-link arrow-link" v-on:click="open_mobile_sub_menu('rules')">Rules</span></li>
                        <li class="header-user-menu-item"><span class="header-user-menu-link arrow-link" v-on:click="open_mobile_sub_menu('about')">About us & Contacts</span></li>
                        <li class="header-user-menu-item"><span class="header-user-menu-link arrow-link" v-on:click="open_mobile_sub_menu('gameselect')">Choose game level</span></li>
                        <li class="header-user-menu-item"><span class="header-user-menu-link lang-ru-link" v-on:click="open_mobile_sub_menu('lang')">Switch language</span></li>
                        <li class="header-user-menu-item"><span class="header-user-menu-link theme-link-l" v-on:click="open_mobile_sub_menu('theme')">Switch theme</span></li>
                    </ul>
                </div>

            </div>
            <div class="mobile-user-panel panel-left secondary-panel " v-bind:class="{ secondaryPanelActive: mobile_sub_menu == 'choose' }"><!--Game switch secondaryPanelActive-->
                <div v-on:click="close_mobile_sub_menu" class="mobile-user-panel-header">
                    <img src="{% static 'images/side-bar-toggle.svg' %}" alt="">
                    <p>Game switch</p>
                </div>
                <div class="mobile-user-panel-menu">
                    <ul>
                        <li class="header-user-menu-item"><span class="header-user-menu-link game-select-link" @click="game_type = 2">QR PUZZLE</span></li>
                        <li class="header-user-menu-item"><span class="header-user-menu-link game-select-link" @click="game_type = 1">QART</span></li>
                        {#                            <li class="header-user-menu-item"><span class="header-user-menu-link game-select-link" >Game 3</span></li>#}
                    </ul>
                </div>

            </div>
            <div class="mobile-user-panel panel-left secondary-panel " v-bind:class="{ secondaryPanelActive: mobile_sub_menu == 'rules' }"><!--Game rules -->
                <div v-on:click="close_mobile_sub_menu" class="mobile-user-panel-header">
                    <img src="{% static 'images/side-bar-toggle.svg' %}" alt="">
                    <p>Game rules</p>
                </div>
                <div class="mobile-user-panel-menu">
                    <div class="mobile-user-panel-text-wrapper">
                        <p class="mobile-user-panel-text-header"></p>
                      <p class="mobile-user-panel-text">

1. Необходимо правильно собрать QR-ART Puzzle одного из трех уровней.<br>
- Выберите один из уровней, нажмите на него и получите разбросанные по полю элементы.<br>
- Наведите курсор на любой элемент,  левой кнопкой мышки захватите элемент и, удерживая его,
 подведите к любому другому элементу, если какая либо из сторон этих элементов совпадает, то при отпускании кнопки мыши они сами соединятся друг с другом.  <br>
- Методом последующего подбора элементов, при правильном варианте они все соединяются и образуют единый QRART Puzzle.<br>
- Для каждого уровня определено свое время на сбор - чем сложней уровень, тем больше дается времени.<br>
- Если Вы правильно и вовремя собрали выбранный уровень, то появится надпись на игровом поле “YOU WON” и Вы получаете бонус в
 RАTING и BALANCE, если не смогли вовремя собрать, то появится надпись “YOU LOSE”, тогда у Вас есть возможность собрать любой уровень заново, при этом вы ничего не теряете. <br>
- Имея на BALANCE любую сумму, Вы в любое время можете вывести ее на свой банковский счет, через личный кабинет, нажав кнопку SETTINGS.
<p>
<p class="mobile-user-panel-text">
2. Весь расчет внутри данной игры ведется во внутренней валюте – QR (1 QR = 1 EURO = 8 YUAN), то есть, все перечисленные Вами средства,
 будут конвертироваться в QR-валюту, а при выводе средств на Ваш счет  конвертироваться обратно. Это необходимо, чтобы не путаться в разных валютах мира.
  </p>
<p class="mobile-user-panel-text">
3. Без регистрации можно играть на всех трех уровнях в DEMO, но при правильном сборе QRART Puzzle  Ваш RATING и BALANCE  пополняться не будут.<br>
 При только регистрации, за каждый правильный сбор QRART Puzzle будет зачислено от 5 до 20 QR в RATING, которые при сумме  1000 QR перейдут на BALANCE и
 с него можно вывести на Вашу банковскую карту реальные деньги.<br>

При регистрации и пополнении BALANCE на любую сумму от 10 до 10 000 EURO, при правильном сборе QR-ART Puzzle любого уровня,
Ваш RATING получит от 5 до 20 QR и BALANCE будет увеличен на 5 - 20% от суммы, это стимулирует наших клиентов на активные действия.
  </p>
<p class="mobile-user-panel-text">
4. Все полученные в процессе игры средства, по письменному поручению от Вас, будут переведены Вам на счет, без ограничений и комиссий.
                            </p>
                    </div>

                </div>

            </div>
            <div class="mobile-user-panel panel-left secondary-panel " v-bind:class="{ secondaryPanelActive: mobile_sub_menu == 'about' }"><!--About us & Contacts -->
                <div v-on:click="close_mobile_sub_menu" class="mobile-user-panel-header">
                    <img src="{% static 'images/side-bar-toggle.svg' %}" alt="">
                    <p>About us</p>
                </div>
                <div class="mobile-user-panel-menu">
                    <div class="mobile-user-panel-text-wrapper">
                        <p class="mobile-user-panel-text-header"></p>
                        <p class="mobile-user-panel-text">
                             <p>
 Наша компания <a href=" https://fetopen.easme-web.eu/?b=925586805#">QRlevel</a> следуя рекомендациям
    <a href="https://ec.europa.eu/easme/">Евро Комиссии</a>, использует Гранты программы <a href="https://ec.europa.eu/programmes/horizon2020/what-horizon-2020"> Горизонт 2020</a>
</p><br>
<p>Мы создали и внедрили головоломку QR-ART Puzzle, которая позволяет исследовать уровень логического мышления у людей разных народов, разного возраста и пола, а нашим клиентам дает возможность хорошо заработать online.
</p><br>
<p>В текущих условиях интернет – заработок становится спасительным кругом, который позволяет поддержать экономику и сохранить достойный уровень жизни многим людям.
</p><br>
<p>Цель нашего проекта - организовать международное исследование, экспериментирующее с технологиями BNCI и связать его с научным сообществом. Мы сосредоточили нашу деятельность вокруг серии расширенных  хакатонов с программой поддержки  исследователей и клиентов.
</p><br>
<p>Мы стараемся максимально использовать возможности Грантов. Все выделенные средства расходуются исключительно для поддержания и продвижения этого ресурса. Гранты застрахованы в <a href="https://explore.allianz.com/">ALLIANZ</a>  .
</p><br>
<p>QR-ART Puzzle - это головоломка, где требуется навык и умение быстро решать логические задания, она является отличным стимулятором для развития логического мышления.
</p><br>
<p>Вся наша работа анализируется, систематизируется и на основании этих данных составляется общая картина о развитии логического мышления по разным регионам и типам людей.
</p><br>
<p>Благодаря выделенным Грантам мы материально стимулируем наших клиентов для активных действий. </p><br>
<p>Какие либо денежные потери клиентов исключены!</p><br>
<p>QR-ART PUZZLE, это не игра, это работа.</p><br>
<p>Для нас это исследовательская деятельность, на основании которой маркетологи, экономисты, производители, будут делать заключения о целесообразности внедрения тех, или иных технологий в работе с потребителем.
</p><br>
<p>Логическое мышление людей это основополагающий механизм выбора того, или иного продукта.
</p><br>
<p>Наша программа QR-ART PUZZLE и анализ ее результатов упрощает работу специалистов в области маркетинга и продвижения товаров и услуг.</p><br>
<p>Благодаря выделенным под это Грантам, мы в состоянии привлечь большое количество потенциальных клиентов, и стимулировать их на решение головоломки, которую мы создали.</p><br>
<p>Нашим клиентам мы предлагаем работу в решении QR-ART PUZZLE и эту работу мы готовы оплачивать из средств выделенных Грантов.
</p><br>
<p>На первый взгляд все покажется сложно и не реально, но с терпением и опытом эта задача решается и дает возможность хорошо зарабатывать.
</p><br>
<p>С переходом на каждый новый уровень вы будете улучшать свои результаты, и увеличивать свой BALANCE.
</p><br>
<p>Уделите решению данной головоломки больше времени, и вы поймете, что заработок онлайн это выгодно и интересно.
</p><br>
<p>Со следующего года Евро Комиссия значительно увеличивает субсидии на исследовательскую, научно-образовательную деятельность компаний из Евросоюза. Мы рассчитываем и дальше использовать выделенные ресурсы и предлагаем вам поучаствовать в данной программе.
</p><br>
<p>Удачи!</p>
                        </p>
                    </div>

                </div>

            </div>
            <div class="mobile-user-panel panel-left secondary-panel " v-bind:class="{ secondaryPanelActive: mobile_sub_menu == 'gameselect' }"><!--Level switch -->
                <div v-on:click="close_mobile_sub_menu" class="mobile-user-panel-header">
                    <img src="{% static 'images/side-bar-toggle.svg' %}" alt="">
                    <p>Level switch</p>
                </div>
                <div class="mobile-user-panel-menu">
                    <div class="mobile-user-panel-levels">
                        <div class="mobile-user-panel-level-item level1 complexity_btn radio" data-type="radio" data-puzle="150" data-level="1">
                            <p class="mobile-user-panel-level-item-number">1</p>
                            <p class="mobile-user-panel-level-item-text">4x4 | 16 elements <br>
                                3 minute to assembly<br>
                                5% to balance</p>

                        </div>
                        <div class="mobile-user-panel-level-item level2 complexity_btn radio" data-type="radio" data-puzle="120" data-level="2">
                            <p class="mobile-user-panel-level-item-number">2</p>
                            <p class="mobile-user-panel-level-item-text">5x5 | 25 elements<br>
                                6 minutes to assembly<br>
                                10% to balance</p>

                        </div>
                        <div class="mobile-user-panel-level-item level3 complexity_btn radio" data-type="radio" data-puzle="100" data-level="3">
                            <p class="mobile-user-panel-level-item-number">3</p>
                            <p class="mobile-user-panel-level-item-text">6x6 | 36 elements<br>
                                9 minutes to assembly<br>
                                20% to balance</p>

                        </div>
                    </div>


                </div>

            </div>
            <div class="mobile-user-panel panel-left secondary-panel " v-bind:class="{ secondaryPanelActive: mobile_sub_menu == 'lang' }"><!--Language switch secondaryPanelActive-->
                <div v-on:click="close_mobile_sub_menu" class="mobile-user-panel-header">
                    <img src="{% static 'images/side-bar-toggle.svg' %}" alt="">
                    <p>Language switch</p>
                </div>
                <div class="mobile-user-panel-menu">
                    <ul>
                        <li class="header-user-menu-item"><a class="header-user-menu-link lang-uk-link" href="">ENGLISH</a></li>
                        <li class="header-user-menu-item"><a class="header-user-menu-link lang-ch-link" href="">CHINESE</a></li>
                        <li class="header-user-menu-item"><a class="header-user-menu-link lang-ru-link" href="">RUSSIAN</a></li>
                    </ul>
                </div>

            </div>
            <div class="mobile-user-panel panel-left secondary-panel " v-bind:class="{ secondaryPanelActive: mobile_sub_menu == 'theme' }"><!--Theme switch secondaryPanelActive-->
                <div v-on:click="close_mobile_sub_menu" class="mobile-user-panel-header">
                    <img src="{% static 'images/side-bar-toggle.svg' %}" alt="">
                    <p>Theme switch</p>
                </div>
                <div class="mobile-user-panel-menu">
                    <ul>
                        <li class="header-user-menu-item"><a class="header-user-menu-link theme-link-l" href="">LIGHT</a></li>
                        <li class="header-user-menu-item"><a class="header-user-menu-link theme-link-d" href="">DARK</a></li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="header-logo">
            <a href="{% url 'index' %}">
                <img :src="[[main_logo]]" alt="">
            </a>

        </div>
        {% if request.user.is_authenticated %}
            <div class="header-mobile-right visible-768" v-on:click="open_mobile_menu_right">
        {% else %}
            <div class="header-mobile-right visible-768" v-on:click="openRegModal">
        {% endif %}
        <img src="{% static 'images/header-mobile-right.svg' %}" alt="">
        <div class="mobile-user-panel panel-right" v-bind:class="{ secondaryPanelActiveRight: mobile_menu_right == true }"><!--notlogged user -->
            {% if request.user.is_authenticated %}
                <div class="mobile-user-panel-info">
                    <div class="mobile-user-panel-name">
                        <p class="mobile-user-panel-username">{{ request.user.nickname }}</p>
                        <p class="mobile-user-panel-balance">{{ request.user.balance }}</p>
                    </div>
                    <div class="mobile-user-panel-avatar">
                        <img style="width: 60px;height: 60px;" src="{{ request.user.get_user_avatar }}" alt="">
                    </div>
                </div>
            {% endif %}

            <div class="mobile-user-panel-menu">
                <ul>
                    <li class="header-user-menu-item"><a class="header-user-menu-link arrow-link" href="{% url 'lk' %}?tab=games">Games</a></li>

                    <li class="header-user-menu-item"><a class="header-user-menu-link arrow-link" href="{% url 'lk' %}?tab=cash">Cash Flow</a></li>
                    <li class="header-user-menu-item"><a class="header-user-menu-link arrow-link" href="{% url 'lk' %}?tab=settings">Settings</a></li>
                    <li class="header-user-menu-item"><a class="header-user-menu-link arrow-link" href="{% url 'lk' %}?tab=support">Support</a></li>
                    <li class="header-user-menu-item"><a class="header-user-menu-link arrow-link" href="{% url 'logout_page' %}?tab=support">Logout</a></li>
                </ul>
            </div>

            {#                    <div class="mobile-user-panel-button">#}
            {#                        <span  v-on:click="openRegModal" class="btn btn-blue btn-center">LOG IN / SIGN UP</span>#}
            {#                    </div>#}

        </div>


        </div>
        <div class="header-nav not-visible-768">
            <ul class="header-nav-wrapper">
                {#                    <li class="header-nav-item has-sub-menu"><span v-on:click="openHeaderSubMenu('game')">GAME</span>#}
                {#                        <div class="header-sub-menu "#}
                {#                             v-bind:class="{ subMenuActive: header_sub_menu == 'game' }"#}
                {#                             v-on:mouseleave="openHeaderSubMenu('game')"><!-- subMenuActive-->#}
                {#                            <ul class="header-sub-menu-wrapper">#}
                {##}
                {#                                <li class="header-sub-menu-item"><span class="header-sub-menu-link" @click="game_type = 2">QR Puzzle</span></li>#}
                {#                                <li class="header-sub-menu-item"><span class="header-sub-menu-link" @click="game_type = 1">QArt</span></li>#}
                {#                                <li class="header-sub-menu-item"><span class="header-sub-menu-link" @click="game_type = 3">GAME 3</span></li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                    </li>#}
                 <li class="header-nav-item"><a href="{% url 'index' %}">MAIN</a>
                <li class="header-nav-item has-sub-text"><span v-on:click="openHeaderSubText('rules')">RULES</span>
                    <div class="header-nav-sub-text "
                         v-bind:class="{ headerNavSubTextActive: header_sub_text == 'rules' }"
                         v-on:mouseleave="openHeaderSubText('rules')"><!-- headerNavSubTextActive-->
                        <div style="height: 380px; overflow-y: auto; margin-bottom: 40px;">
                            <h3 class="header-nav-sub-text-header header-about">Assembly Rules</h3>
                            <p class="header-nav-sub-text-title"></p>
                            <p style="margin-bottom: 20px;" class="header-nav-sub-text-info">
1. Необходимо правильно собрать QR-ART Puzzle одного из трех уровней.<br>
- Выберите один из уровней, нажмите на него и получите разбросанные по полю элементы.<br>
- Наведите курсор на любой элемент,  левой кнопкой мышки захватите элемент и, удерживая его,
 подведите к любому другому элементу, если какая либо из сторон этих элементов совпадает, то при отпускании кнопки мыши они сами соединятся друг с другом.  <br>
- Методом последующего подбора элементов, при правильном варианте они все соединяются и образуют единый QRART Puzzle.<br>
- Для каждого уровня определено свое время на сбор - чем сложней уровень, тем больше дается времени.<br>
- Если Вы правильно и вовремя собрали выбранный уровень, то появится надпись на игровом поле “YOU WON” и Вы получаете бонус в
 RАTING и BALANCE, если не смогли вовремя собрать, то появится надпись “YOU LOSE”, тогда у Вас есть возможность собрать любой уровень заново, при этом вы ничего не теряете. <br>
- Имея на BALANCE любую сумму, Вы в любое время можете вывести ее на свой банковский счет, через личный кабинет, нажав кнопку SETTINGS.
<p>
<p style="margin-bottom: 20px;" class="header-nav-sub-text-info">
2. Весь расчет внутри данной игры ведется во внутренней валюте – QR (1 QR = 1 EURO = 8 YUAN), то есть, все перечисленные Вами средства,
 будут конвертироваться в QR-валюту, а при выводе средств на Ваш счет  конвертироваться обратно. Это необходимо, чтобы не путаться в разных валютах мира.
  </p>
<p style="margin-bottom: 20px;" class="header-nav-sub-text-info">
3. <span style="text-decoration: underline;font-size: 18px;" >Без регистрации</span>  можно играть на всех трех уровнях в DEMO, но при правильном сборе QRART Puzzle  Ваш RATING и BALANCE  пополняться не будут.<br>
 <span style="text-decoration: underline;font-size: 18px;">При только регистрации</span> , за каждый правильный сбор QRART Puzzle будет зачислено от 5 до 20 QR в RATING, которые при сумме  1000 QR перейдут на BALANCE и
 с него можно вывести на Вашу банковскую карту реальные деньги.<br>

<span style="text-decoration: underline;font-size: 18px;">При регистрации и пополнении BALANCE</span>  на любую сумму от 10 до 10 000 EURO, при правильном сборе QR-ART Puzzle любого уровня,
Ваш RATING получит от 5 до 20 QR и BALANCE будет увеличен на 5 - 20% от суммы, это стимулирует наших клиентов на активные действия.<br>
     Набор в RATING 1000 QR  обнуляется каждый 30 дней (1 числа нового месяца)
  </p>
<p style="margin-bottom: 20px;" class="header-nav-sub-text-info">
4. Все полученные в процессе игры средства, по письменному поручению от Вас, будут переведены Вам на счет, без ограничений и комиссий.
                            </p>

                        </div>
                            <div class="header-nav-sub-text-buttons"><span class="btn btn-blue">DOCUMENTS</span><span class="btn btn-orange">SUPPORT</span></div>
                    </div>
                </li>
                <li class="header-nav-item has-sub-text"><span v-on:click="openHeaderSubText('about')">ABOUT US</span>
                    <div class="header-nav-sub-text "
                         v-bind:class="{ headerNavSubTextActive: header_sub_text == 'about' }"
                         v-on:mouseleave="openHeaderSubText('about')"><!-- headerNavSubTextActive-->
                        <div style="height: 380px; overflow-y: auto;margin-bottom: 40px">
                            <h3 class="header-nav-sub-text-header header-about">About us</h3>
                            <p class="header-nav-sub-text-title"></p>
                            <p class="header-nav-sub-text-info"></p>
  <p>
 Наша компания <a href=" https://fetopen.easme-web.eu/?b=925586805#">QRlevel</a> следуя рекомендациям
    <a href="https://ec.europa.eu/easme/">Евро Комиссии</a>, использует Гранты программы <a href="https://ec.europa.eu/programmes/horizon2020/what-horizon-2020"> Горизонт 2020</a>
</p><br>
<p>Мы создали и внедрили головоломку QR-ART Puzzle, которая позволяет исследовать уровень логического мышления у людей разных народов, разного возраста и пола, а нашим клиентам дает возможность хорошо заработать online.
</p><br>
<p>В текущих условиях интернет – заработок становится спасительным кругом, который позволяет поддержать экономику и сохранить достойный уровень жизни многим людям.
</p><br>
<p>Цель нашего проекта - организовать международное исследование, экспериментирующее с технологиями BNCI и связать его с научным сообществом. Мы сосредоточили нашу деятельность вокруг серии расширенных  хакатонов с программой поддержки  исследователей и клиентов.
</p><br>
<p>Мы стараемся максимально использовать возможности Грантов. Все выделенные средства расходуются исключительно для поддержания и продвижения этого ресурса. Гранты застрахованы в <a href="https://explore.allianz.com/">ALLIANZ</a>  .
</p><br>
<p>QR-ART Puzzle - это головоломка, где требуется навык и умение быстро решать логические задания, она является отличным стимулятором для развития логического мышления.
</p><br>
<p>Вся наша работа анализируется, систематизируется и на основании этих данных составляется общая картина о развитии логического мышления по разным регионам и типам людей.
</p><br>
<p>Благодаря выделенным Грантам мы материально стимулируем наших клиентов для активных действий. </p><br>
<p>Какие либо денежные потери клиентов исключены!</p><br>
<p>QR-ART PUZZLE, это не игра, это работа.</p><br>
<p>Для нас это исследовательская деятельность, на основании которой маркетологи, экономисты, производители, будут делать заключения о целесообразности внедрения тех, или иных технологий в работе с потребителем.
</p><br>
<p>Логическое мышление людей это основополагающий механизм выбора того, или иного продукта.
</p><br>
<p>Наша программа QR-ART PUZZLE и анализ ее результатов упрощает работу специалистов в области маркетинга и продвижения товаров и услуг.</p><br>
<p>Благодаря выделенным под это Грантам, мы в состоянии привлечь большое количество потенциальных клиентов, и стимулировать их на решение головоломки, которую мы создали.</p><br>
<p>Нашим клиентам мы предлагаем работу в решении QR-ART PUZZLE и эту работу мы готовы оплачивать из средств выделенных Грантов.
</p><br>
<p>На первый взгляд все покажется сложно и не реально, но с терпением и опытом эта задача решается и дает возможность хорошо зарабатывать.
</p><br>
<p>С переходом на каждый новый уровень вы будете улучшать свои результаты, и увеличивать свой BALANCE.
</p><br>
<p>Уделите решению данной головоломки больше времени, и вы поймете, что заработок онлайн это выгодно и интересно.
</p><br>
<p>Со следующего года Евро Комиссия значительно увеличивает субсидии на исследовательскую, научно-образовательную деятельность компаний из Евросоюза. Мы рассчитываем и дальше использовать выделенные ресурсы и предлагаем вам поучаствовать в данной программе.
</p><br>
<p>Удачи!</p>










                        </div>
                            <div class="header-nav-sub-text-buttons"><a target="_blank" style="width: 150px;" href="https://ec.europa.eu/programmes/horizon2020/what-horizon-2020" class="btn btn-blue">DOCUMENTS</a><a target="_blank" style="width: 150px;" href="{% url 'lk' %}?tab=support" class="btn btn-orange">SUPPORT</a></div>
                                            </div>
                </li>
            </ul>
        </div>
        <div class="header-buttons not-visible-768">
            <ul class="header-nav-wrapper">
                <!--&lt;!&ndash;not-visible-1320 &ndash;&gt;  -->
                <li class="header-nav-item-button has-sub-menu ">
                <span v-on:click="openHeaderSubMenu('settings')">
                    <img src="{% static 'images/theme-icon.svg' %}" alt=""> DARK MODE <img src="{% static 'images/settings-icon.svg' %}" alt="">
                </span>
                    <div v-bind:class="{ subMenuActive: header_sub_menu == 'settings' }" class="header-sub-menu  button-sub-menu">
                        <ul class="header-sub-menu-wrapper">
                            <li class="header-sub-menu-item"><a class="header-sub-menu-item-lang " href="">LIGHT</a></li>
                            <li class="header-sub-menu-item"><a class="header-sub-menu-item-lang " href="">DARK</a></li>


                        </ul>
                    </div>
                </li>
                {#            &lt;!&ndash;not-visible-1500 &ndash;&gt;-->#}
                <li class="header-nav-item-button has-sub-menu ">
                <span v-on:click="openHeaderSubMenu('lang')">
                    <img src="{% static 'images/lang-uk-icon.svg' %}" alt=""> ENGLISH <img src="{% static 'images/arrow_down.svg' %}" alt="">
                </span>
                    <div v-bind:class="{ subMenuActive: header_sub_menu == 'lang' }" class="header-sub-menu  button-sub-menu">
                        <form class="header-sub-menu-wrapper">
                            <label class="header-sub-menu-item header-sub-menu-item-lang lang-uk"><input type="radio" name="l">ENGLISH</label>
                            <label class="header-sub-menu-item header-sub-menu-item-lang lang-ch"><input type="radio" name="l">CHINESE</label>
                            <label class="header-sub-menu-item header-sub-menu-item-lang lang-ru"><input type="radio" name="l">RUSSIAN</label>
                        </form>
                    </div>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="header-nav-item-button not-visible-1024"><span><img src="{% static 'images/wallet-icon.svg' %}" alt=""> {{ request.user.balance }} QR </span></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li class="header-nav-item-button"><span class="btn btn-blue" v-on:click="openRegModal">LOG IN / SIGN UP</span></li>
                    {#                <li class="header-nav-item-toggle">#}
                    {#                    <div class="header-user-toggle"><img src="{% static 'images/user-menu-icon.svg' %}" alt=""> </div>#}
                    {#                </li>#}
                {% endif %}

            </ul>
        </div>
        {% if request.user.is_authenticated %}

            <div  class="header-user not-visible-768">
                <div class="header-user-wrapper">
                    <div class="header-user-info">
                        <p class="header-user-info-name">{{ request.user.nickname }}</p>
                        <p  class="header-user-info-rating">Rating: <span id="rating_desktop">{{ request.user.rating }}</span></p>
                    </div>
                    <div class="header-user-avatar" v-on:click="openUserMenu"><img width="60" height="60" src="{{ request.user.get_user_avatar }}" alt=""></div>

                </div>
                <div class="header-user-menu " v-bind:class="{ headerUserMenuActive:desktop_user_menu }" v-on:mouseleave="closeUserMenu"><!-- headerUserMenuActive-->
                    <ul class="header-user-menu-wrapper">
                        <!--<li class="header-user-menu-item visible-1024"><a class="header-user-menu-link " href="">78 150.10 QR</a></li>-->
                        <!--<li class="header-user-menu-item visible-1320"><a class="header-user-menu-link " href="">THEME SELECT</a></li>-->
                        <!--<li class="header-user-menu-item visible-1500"><a class="header-user-menu-link " href="">LANG SELECT</a></li>-->
                        <li class="header-user-menu-item"><a class="header-user-menu-link link-support" href="{% url 'lk' %}?tab=games">Games</a></li>
                        {#                        <li class="header-user-menu-item has-dropdown " v-bind:class="{ dropDownActive:drop_down_menu == 'lang' }"> <!-- dropDownActive-->#}
                        {#                            <span class="header-user-menu-link lang-ru-link" v-on:click="openDropDown('lang')">Language</span>#}
                        {#                            <ul class="header-user-menu-dropdown ">#}
                        {#                                <form class="header-sub-menu-wrapper">#}
                        {#                                    <label class="header-user-menu-link lang-uk-link header-user-menu-dropdown-item"><input type="radio" name="l">ENGLISH</label>#}
                        {#                                    <label class="header-user-menu-link lang-ch-link header-user-menu-dropdown-item"><input type="radio" name="l">CHINESE</label>#}
                        {#                                    <label class="header-user-menu-link lang-ru-link header-user-menu-dropdown-item"><input type="radio" name="l">RUSSIAN</label>#}
                        {#                                </form>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                        {#                        <li class="header-user-menu-item has-dropdown " v-bind:class="{ dropDownActive:drop_down_menu == 'theme' }"> <!-- dropDownActive-->#}
                        {#                            <span class="header-user-menu-link theme-link-d" v-on:click="openDropDown('theme')">Theme</span>#}
                        {#                            <ul class="header-user-menu-dropdown ">#}
                        {#                                 <li class="header-user-menu-item"><a class="header-user-menu-link theme-link-l" href="">LIGHT</a></li>#}
                        {#                                <li class="header-user-menu-item"><a class="header-user-menu-link theme-link-d" href="">DARK</a></li>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                        <li class="header-user-menu-item"><a class="header-user-menu-link link-support" href="{% url 'lk' %}?tab=support">Support</a></li>
                        <li class="header-user-menu-item"><a class="header-user-menu-link link-cash" href="{% url 'lk' %}?tab=cash">Cash Flow</a></li>
                        <li class="header-user-menu-item"><a class="header-user-menu-link link-settings" href="{% url 'lk' %}?tab=settings">Settings</a></li>
                        <li class="header-user-menu-item"><a class="header-user-menu-link link-logout" href="{%  url 'logout_page' %}">Log out</a></li>

                    </ul>
                </div>
            </div>
        {% endif %}

        </div>
</header>